[submodule "ImageStreamIO"]
	path = ImageStreamIO
	url = ../ImageStreamIO
	branch = dev

[submodule "ImageStreamIO-backport"]
	path = ImageStreamIO-backport
	url = ../ImageStreamIO
	branch = pymilk-backport
