[submodule "ImageStreamIO"]
	path = ImageStreamIO
	url = http://github.com/milk-org/ImageStreamIO.git
	branch = dev

[submodule "ImageStreamIO_backport"]
	path = ImageStreamIO_backport
	url = http://github.com/milk-org/ImageStreamIO.git
	branch = pymilk-multiverse
