[submodule "ImageStreamIO"]
	path = ImageStreamIO
	url = http://github.com/milk-org/ImageStreamIO.git
	branch = dev

[submodule "ImageStreamIO-backport"]
	path = ImageStreamIO-backport
	url = http://github.com/milk-org/ImageStreamIO.git
	branch = pymilk-backport
