repos:
-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.32.0
    hooks:
    -   id: yapf
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
    -   id: autopep8
        files: \.pyx
        args:
        - --in-place
        - --max-line-length
        - '80'
        - -a
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.fits
    -   id: end-of-file-fixer
        exclude: \.fits
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test
        #args: [--pytest-test-first]
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: cpp-cuda-linter
        name: cpp-pre-commit
        entry: ./hraa/utilities/cpp-pre-commit.sh
        language: system
        files: \.(cu|hpp|cuh|h|cpp|c)
